@model EShop.Domain.DomainModels.Product
@{
    ViewData["Title"] = "DetailsAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #grad1 {
        background-image: linear-gradient(to right, #22A0C0, #935991);
    }

    #grad1 {
        border-image: linear-gradient(to right, #22A0C0, #935991);
        border-radius: 4px;
    }

    #grad2 {
        background-image: linear-gradient(to right, #22A0C0, #F3E275);
    }

    #grad2 {
        border-image: linear-gradient(to right, #22A0C0, #F3E275);
        border-radius: 4px;
    }
</style>

<div>

    <hr />


    <div class="col" style="">
        <img src="@Model.ProductImage" class="card-img-top" style="margin-left: -90px; height: 400px; width: 400px;">
    </div>

    <div class="col" style="margin-left: 350px; margin-top: -355px;">

        <h2><b> @Html.DisplayFor(model => model.ProductName)</b>  </h2>




        <dd>
            <p style="font-size: 29px; margin-right: 25px; font-family: Brush Script MT, Brush Script Std, cursive; margin-right: 25px;"> <i> @Html.DisplayFor(model => model.ProductDescription) </i> </p>

        </dd>




        @{


            if (Model.Rating == 5)
            {

                <img src="https://static.thenounproject.com/png/1143722-200.png" width="200px" height="188px" style="margin-top: -44px; margin-left: -12px;">

            }

            if (Model.Rating == 4)
            {

                <img src="https://static.thenounproject.com/png/1149720-200.png" width="160px" height="148px" style="margin-top: -44px; margin-left: -12px;">

            }

            if (Model.Rating == 3)
            {


                <img src="https://static.thenounproject.com/png/1149721-200.png" width="180px" height="168px" style="margin-top: -44px; margin-left: -12px;">

            }

            if (Model.Rating == 2)
            {

                <img src="https://static.thenounproject.com/png/2554122-200.png" width="120px" height="118px" style="margin-top: -44px; margin-left: -8px;">

            }

            if (Model.Rating == 1)
            {

                <img src="https://static.thenounproject.com/png/2155113-200.png" width="160px" height="148px" style="margin-top: -44px; margin-left: -12px;" />

            }
        }

        <div style="margin-top: -30px;">
            <dd>
                <h4><b>$@Html.DisplayFor(model => model.ProductPrice)</b></h4>
            </dd>

            <dd>
                <h4><b>@Html.DisplayFor(model => model.ProductQuantity) g</b></h4>

            </dd>

            <dd>

                <a id="grad1" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info text-center" style="height: 45px; width: 190px;  margin-top: 12px; border-radius: 4px; background-color: #6BCFDF; border-color: #6BCFDF; ">
                    <h5 style="margin-left: -35px; font-size: 17px; margin-left: -4px; margin-top: 4px;"> Edit</h5>

                </a>

                <a id="grad2" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-info text-center" style="height: 45px; width: 190px;  margin-top: 12px;  border-radius: 4px; background-color: #6BCFDF; border-color: #6BCFDF; ">
                    Delete
                </a>


            </dd>
        </div>
    </div>
</div>


@*<p style="margin-left: 350px;">
        @Html.ActionLink("Add to Cart", "OrderNow", "ShoppingCart", new { id = Model.ProductID }, null)
    </p> *@


@*<div>

            <a id="grad1" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info text-center" style="height: 45px; width: 190px;  margin-top: 12px; margin-left: 366px; border-radius: 0px; background-color: #6BCFDF; border-color: #6BCFDF; ">
                <h5 style="margin-left: -35px; font-size: 17px; margin-left: -4px; margin-top: 4px;"> Edit</h5>

            </a>

            <a id="grad2" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-info text-center" style="height: 45px; width: 190px;  margin-top: 12px; float:right; border-radius: 0px; background-color: #6BCFDF; border-color: #6BCFDF; ">
                Delete
            </a>

            <a asp-action="Index" asp-controller="Home" style="float:right">test</a>




    </div>*@


